html {
    font: size 12px;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .box {
    box-sizing: border-box;
    background-color: aqua;
    border: 2px solid black;
    width: 80vw;
    margin: auto;
    max-height: fit-content;

    /* This vw(view port width) it takes the structure as the Website size is alternated. */
  }
  .container {
    box-sizing: border-box;
    background-color: rgb(120, 250, 44);
    border: 2px solid black;
    width: 80vw;
    margin: 20px auto;
    font-size: 18px;
    min-height: 80vh;
  }
  .container > div {
    font-size: 2rem;
    width: 50%;
    border: 2px solid black;
    /* Using "em" gives the font size which is given from the container font specific:
        but using "rem" gives the font size based on the root font size of the website. */
  }
  .container > div > p {
    /* width: 50%; which is used to make a division inside the container; */
    /* border: 2px solid blue; */
    background-color: aqua;
  }
  .mycont {
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin: 20px auto;
    /* width: 100vmin; */
    width: 80vw;
    font-size: 22px;
    border: 2px solid black;
  }
  .box1 {
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    padding: 40px;
    display: inline-flex
    
  }
  .last{
    background-color: azure;
    box-sizing: border-box;
    background-color: rgb(155, 148, 255);
    border: 2px solid black;
    width: 80vw;
    margin: 20px auto;
    font-size: 18px;
    min-height: 80vh;

  }