.auto{
    width: 30vw;
    height: 60vh;
    border: 2px solid black;
    overflow:auto;
    background-color: aqua;

}
.scroll{
    width: 70vw;
    height: 20vh;
    border: 2px solid black;
    overflow:scroll;
    background-color: aqua;

}
.nowrap{
    width: 60vw;
    height: 20vh;
    border: 2px solid black;
    overflow:scroll;
    background-color: aqua;
    white-space: nowrap;

}

.textoverflow{
    width: 60vw;
    height: 10vh;
    border: 2px solid black;
    overflow:scroll;
    background-color: aqua;
    white-space: nowrap;
    text-overflow: ellipsis;

}